/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

*{
    text-align: center;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.page {
    max-width: 350px;
}

header, nav, main, footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width:400px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

h1 {
    float: right;
    color: black;
}
.subheading {
    float: right;
    color: black;
    padding: 10px;
}

.logo {
    float: right;
}

nav {
    max-width: 350px;
    color:black;
    background-color: white;
}

nav ul {
    list-style-type: none;
    width: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

nav ul li {
    text-align: center;
}
nav ul li a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}
nav ul li.active a {
    background-color: navy;
    color: white;
}
nav ul li a:hover {
    background-color: navy;
    color: white;
}


.franklin-img {
    max-width: 400px;
}

.logo {
    width: 75px;
}

.sun {
    width: 75px;
}

.article-img {
    max-width: 400px;
    float: left;
}

.town-article {
    float: right;
    text-align: center;
}
franklin-article {
    border: 1px solid black;
}
.h2 {
    text-align: center;
}

.city-now {
    float:left;
}

.sun{ 
    float:right;
}


.forecast {
    visibility: collapse;
}

main h2 {
    text-align: left;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    align-content:right;
}

footer {
    position: absolute;
    background-color: black;
    color: white;
    display: block;
    max-width: 400px;
}